*{
  margin: 0;
  
  align-items: center;
  
}

.page {
  text-align: center;
  height: 100vh;
  width: 100vh;
  margin: 0 auto;
}

.map {
  background-color: black;
}

.popup{
  color: rgb(0, 0, 0);
  
}

