*{
  margin: 0;
  
  align-items: center;

  
  
}

.page {
  text-align: center;
  
  
}

.map {
  background-color: black;
  position:fixed;
    padding-bottom: 30px;
    

    top:0;
    left:0;

    width: 100%;
    height: 100%;
}

.sideb{
  background-color: white;
}

.popup{
  color: rgb(0, 0, 0);
  
}

